# External libraries
extern/SDL*

# Downloaded library cache
cache/

# Build directories
/build*/
/cmake-build*/
/out/
/dist/
/android/.gradle/
/android/build/
/android/app/build/
/android/app/.cxx/

# IDEs
.vs/
/.vscode
/.idea
*.user

# macOS metadata
.DS_Store
