# External libraries
extern/SDL*

# Downloaded library cache
cache/

# Build directories
/build*/
/cmake-build*/
/out/
/dist/

# IDEs
.vs/
/.vscode
/.idea
*.user

# macOS metadata
.DS_Store


# Android build artifacts
android/app/build/
android/build/
android/.gradle/
android/app/src/main/java/org/libsdl/app/
android/app/.cxx/
